.App {
  text-align: center;
 
}
body{
  background: #000000d9;
}
button{
  font-size: 18px;
  color: white;
  background: #5b00d3;
  padding: 10px 12px;
  border-radius: 5px;
  border: 0;
}

.sectionOne{
  width: 60%;
  margin: auto;
  background: #f4f4f4;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 8px;
}
.sectionTwo{
  width: 60%;
  margin: auto;
  background: #f4f4f4;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 8px;
}
.title{
  color: rgb(255, 242, 0);
  font-size: 30px;
  font-weight: 600;
}
.description{
  font-size: 20px;
  color: white;
  padding: 2px 10px;
  
}
.content{
  background: #5900b7;
  width: 70%;
  margin: 10px auto;
  padding: 3px;
}